<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<body>
<button onclick="displayList()">
    Load Data
</button>
/
<button onclick="showCreateForm()"> Create</button>
<br>
<input id="searchInput" placeholder="Search for names.." type="text">
<div id="table-container"></div>
<button id="load-more-btn" onclick="loadMore()" style="display:none;">Tải thêm</button>
<div id="form-container"></div>


<script src="index.js" type="text/javascript"></script>
<script>






</script>
</body>
</html>