<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Danh sách bài viết</h2>
    <a href="/create" class="btn btn-primary">Create New</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Create Time</th>
        <th>categoryName</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td>
            <a th:href="@{/detail/{id}(id=${blog.id})}" th:text="${blog.id}"></a>
        </td>

        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.categoryName}"></td>

        <td th:text="${#temporals.format(blog.createTime, 'dd/MM/yyyy HH:mm')}"></td>

        <td>
            <a th:href="@{/edit/{id}(id=${blog.id})}" class="btn btn-sm btn-warning">Edit</a>
            <a th:href="@{/delete/{id}(id=${blog.id})}" class="btn btn-sm btn-danger"
               onclick="return confirm('Bạn có chắc muốn xóa?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <a th:if="${currentPage > 0}"
       th:href="@{/(page=${currentPage - 1})}"
       class="btn btn-outline-primary me-2">
        Prev
    </a>

    <span class="align-self-center mx-2">
            Trang <strong th:text="${currentPage + 1}"></strong> / <span th:text="${totalPages}"></span>
        </span>

    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{/(page=${currentPage + 1})}"
       class="btn btn-outline-primary ms-2">
        Next
    </a>
</div>

</body>
</html>